*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    background-color: #dcdcdc;
    color: #333;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
header h1{
    margin: 0;
}
h2{
    margin: 0;
    text-align: center;
}
form{
    text-align: center;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
section{
    margin-bottom: 20px;
}
section h2{
    font-size: 26px;
    margin-bottom: 10px;
}
\section img{
    display: block;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    margin-bottom: 10px;
}
ul li img{
    vertical-align: middle;
    margin-left:16px;
}
input[type="Character Name"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"], input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover{
    background-color: #555;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #f2f2f2;
}
.pageLinks{
    text-align: center;
    margin: 20px 0;
}
.pageLinks a{
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.pageLinks a:hover{
    background-color: #333;
    color: #fff;
}
